.container {
    width: 100%;
    max-width: 1102px;
    margin: 0 auto;

    .header & {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .info & {
        display: flex;
        flex-wrap: wrap;
    }
}