<header class="header">
    <div class="container">
        <button class="header__menu" type="button">
            <span class="visually-hidden">menu</span>
        </button>
        <div class="header__contact">
            <a href="tel:+73412566326" class="header__phone">+7 (3412) 566-326</a>
            <span class="header__clock">Работаем с 9 до 20</span>
        </div>
        <img src="./assets/images/header-logo.png" alt="Вкусно, как дома!" class="header__logo">
        <div class="basket">
            <div class="basket__number">0</div>
            <a href="#"class="basket__link">Корзина</a>
            <span class="basket__price">3 345</span>
            <span class="basket__currency">р.</span>
        </div>
    </div>
</header>
