<aside class="sidebar">
    <a href="tel:+73412566326" class="sidebar__phone">566-326 (с 9 до 20)</a>
    <nav class="sidebar__nav">
        <a href="#" class="sidebar__nav_link">О доставке</a>
        <a href="#" class="sidebar__nav_link">О компании</a>
        <a href="#" class="sidebar__nav_link">Отзывы</a>
        <a href="#" class="sidebar__nav_link">Адреса кулинарий</a>
        <a href="#" class="sidebar__nav_link">Заказ тортов</a>
        <a href="#" class="sidebar__nav_link">Доставка обедов</a>
    </nav>
    <h3 class="sidebar__list_title">Меню доставки</h3>
    <ul class="sidebar__list">
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Салаты</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Гарниры</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Десерты и пирожные</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Торты и пироги на заказ</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Пельмени ручной лепки</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Сыровяленное мясо</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Овощи</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Выпечка</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Вторые блюда</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Хлеб</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Печенье</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Напитки</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Полуфабрикаты</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__list_link">Наборы для супов</a>
        </li>
    </ul>
    <button class="sidebar__close">
        <span class="visually-hidden">close</span>
    </button>
</aside>